<!DOCTYPE html> 
<html>
    <head>
        <title>{{page.title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css"> 
    </head>
    <body>
        <nav>
            <ul>
                <li><href="/">Home</href></li>
                <li><href="/albums/taylorswift">Taylor Swift</a></li>
                <li><href="/albums/fearless">Fearless</a></li>
                <li><href="/albums/speaknow">Speak Now</a></li>
                <li><href="/albums/red">Red</a></li>
                <li><href="/albums/1989">1989</a></li>
                <li><href="/albums/reputation">reputation</a></li>
                <li><href="/albums/lover">Lover</a></li>
                <li><href="/albums/folklore">folklore</a></li>
                <li><href="/albums/evermore">evermore</a></li>
                <li><href="/discusion">Discusion</a></li>
            </ul>
        </nav>
        <div class="container">
            {{content}}
        </div>
        <footer>
            <ul>
            <li><a href="https://www.taylorswift.com">taylorswift.com</a></li>
            </ul>
        </footer>
    </body>
</html>
