<!DOCTYPE html> 
<html>
    <head>
        <title>{{page.title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css"> 
    </head>
    <body>
        <nav>
            <ul>
                <li><href="/">Home</href></li>
                <li><href="/">Taylor Swift</a></li>
                <li><href="/">Fearless</a></li>
                <li><href="/">Speak Now</a></li>
                <li><href="/">Red</a></li>
                <li><href="/">1989</a></li>
                <li><href="/">reputation</a></li>
                <li><href="/">Lover</a></li>
                <li><href="/">folklore</a></li>
                <li><href="/">evermore</a></li>
            </ul>
        </nav>
        <div class="container">
            {{content}}
        </div>
        <footer>
            <ul>
            <li><a href="https://www.taylorswift.com">taylorswift.com</a></li>
            </ul>
        </footer>
    </body>
</html>
